*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg,rgb(158, 57, 44),rgba(193, 86, 214, 0.5)) black;
}
.section{
    min-height: 100vh;
    padding-top: 100px;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(3, 3, 2);
}
.accordion_item{
    border: 1px solid black;
    padding: 20px;
}
.accordion_title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}
.accordion_title h3{
    flex: 1;
    font-size: 25px;
}
.accordion_title i{
    font-size: 30px;
    cursor: pointer;
}
.accordion-content{
    display: none;
}
.active .accordion-content{
    display: block;
}
.accordion_title.active + .accordion-content{
    display: block;
}
.accordion-content p{
    font-size: 20px;
    color: black;
}
.accordion_item.active i{
    transform: rotate(180deg);
}
